spring:
  application:
    name: Payment Gateway Proxy

management:
  endpoint:
    health:
      show-details: never

---
spring:
  config:
    activate:
      on-profile: local

backend:
  url: "http://localhost:8081/payments"

